# Set this to True if you desire GUI tools.
{%- set usegui = True %}

# Install LaTeX?
{%- set uselatex = True %}

# Radio stuff?
{%- set useradio = True %}


{%- set vars = {
    'usegui' : usegui,
    'uselatex' : uselatex,
    'useradio' : useradio,
} %}
